
.wrapper {
}

.wrapper-header {
    background-color: #fff;
    padding: 20px;
}

.wrapper-header-title {
    margin-top: 8px;
    font-size: 20px;
    line-height: 32px;
    font-weight: 600;
    color: rgba(0, 0, 0, .85);
}
.wrapper-content{
    padding: 24px;
}
.toolbar {
    margin: 10px 0 30px;
    display: flex;
}
.toolbar-item {
    flex: 1;
}
.ant-btn-sm {
    font-size: 12px;
}
.ant-btn-sm .anticon {
    font-size: 14px;
}
.ant-dropdown-menu-item > .anticon{
    font-size: 14px !important;
    margin-right: 6px !important;
}